/*_____WARNING_____*/
/* 2 règle spécifiques sont présentes dans la partie caroussel pour les très petits écrans
(moins de 350px de largeur).*/


/*-------------------- PARAMETRES GENENERAUX--------------------*/
body{
    font-size: 0.8em;
}
/*-------------------- ANIMATION CSS DU CAROUSSEL--------------------*/

/*-------------------- HEADER--------------------*/

/*--- Navigation---*/

div.navigationBarContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

div.logoContainer{
    width: 80%;
    margin: auto;
}

nav{
    width: 100%;
    height: 33px;
    line-height: 33px;
    justify-content: center;
    margin: auto;
}

nav a{
    height: 33px;
    line-height: 33px;
}

nav a:hover{
    height: 33px;
    line-height: 33px;
}

/*--- Carousel ---*/

div.carousselButtonContainer{
    display: none;
}

div.carouselOverlay{
    color: white;
    margin: auto;
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h1{
    font-size: 1.2em;
    margin: 3px 0 3px 0;
}

@media all AND (max-width: 350px) { /* Pour les très petits écran afin que tous les élements soit visibles dans le caroussel overlay*/
    h1{
        font-size: 1em;
        margin: 3px 0 3px 0;
    }
}

div.carouselOverlay p{
    width: 90%;
    font-size: 0.8em;
    margin: 0;
}

div.carouselOverlay button{
    padding: 3px 5px 3px 5px;
    margin: 0;
    align-self: flex-end;
}

@media all AND (max-width: 350px) { /* Pour les très petits écran afin que tous les élements soit visibles dans le caroussel overlay*/
    div.carouselOverlay button{
        font-size: 0.8em;
    }
}

div.carouselPosition{
    display: none;
}

/*-------------------- Section I : Nos services--------------------*/

/*--- Section I : Titre ---*/

div.sectionTitreContainer h2{
    font-size: 1.2em;
}

div.sectionTitreContainer p{
    width: 80%;
}

/*--- Section I : Corps ---*/

div.sectionMainLeft{     /* Partie gauche*/
    display: none;
}

div.sectionMainRight{   /* Partie droite*/
    width: 100%;
    align-self: flex-start;
    display: flex;
}

h3.sectionMainRight{
    font-size: 1.1em;
    margin-bottom: 0px;
}

/*-------------------- Section II : Nos Projets--------------------*/

/*--- Section II : Titre ---*/
    /* Paramètres hérité de la section I*/

/*--- Section II : Corps ---*/

    /*--- Menu Portfolio---*/
div.portfolioMenuContainer label{
    display: inline-block;
    height: 35px;
    line-height: 35px;
    background: #e5e5e5;
    color: #6b6e72;
    width: 70px;
    text-align: center;
    position: relative;
}

    /*--- Portfolio ---*/

div.portfolioImgWrapper{
    width: 100%;
}

div.portfolioImgContainer{
    width: 40%;
    margin-bottom: 10px;
    margin-top: 10;
}

/*-------------------- Footer--------------------*/

/*--- Maps ---*/

/*--- Contact ---*/

/*--- Map Overlay ---*/
