/*
Couleurs:
    Bleu claire : #5dadd3 ;
    Bleu foncé : #669db6 ;
    Gris texte : #6e7071 ;


*/


/*-------------------- PARAMETRES GENENERAUX--------------------*/

body{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    font-family: Arial;
    color: #6e7071;
}

h2, h3, h4{
    color: black;
}

div#pageWrapper{
    width: 80%;
    border: 1px solid blue;
}


/*-------------------- HEADER--------------------*/
header{
    border: 1px solid red;
    padding: 0px;
}

/*--- Navigation---*/
div.navigationBarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

div.logoContainer{
    margin-left: 15%;
}

nav{
    margin-right: 15%;
    margin-right: 15%;
    height: 100px;
    padding: 0px;
    display: flex;

}

nav a{
    display: block;
    height: 100px;
    line-height: 100px;
    padding: 0 10px 0 10px;
    text-decoration: none;
    color: #341c1d;
    font-family: sans-serif;
}

nav a:hover{
    border-top: 3px solid #80b7ce;
    color: #242424;
    font-weight: 500;
    line-height: 100px;
}

/*--- Carousel ---*/

div.carousselContainer{
    border: 3px solid green;
    margin: 0px;
    padding: 0px;
    position: relative;
}

div.carousselContainer img{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: block;
}

div.carouselPosition{
    width: 100%;
    height: 10px;
    background: black;
    position: absolute;
    bottom: 0px;
    z-index: 15;
}

div.carousselOverlayContainer{
    position: absolute;
    top: 30%;
}

div.carouselOverlay{

}

h1{

}

div.carouselOverlay p{

}

div.carouselOverlay button{

}

div.carouselButtonRight{

}

div.carouselButtonLeft{

}

/*-------------------- Section I : Nos services--------------------*/

section.NosServices{
}

/*--- Section I : Titre ---*/

div.sectionTitreContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.sectionTitreContainer h2{
    font-size: 2em;
}

div.buttonSeparator{

}

div.sectionTitreContainer p{
    width: 50%;
    text-align: center;
}

/*--- Section I : Corps ---*/

div.sectionMainContainer{
    display: flex;
    height: 400px;
}

div.sectionMainLeft{     /* Partie gauche*/
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.sectionMainLeft img{
}

div.sectionMainRight{   /* Partie droite*/
    width: 50%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.sectionMainRightParagraph{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

div.illustration, div.separator, div.presentation{
    margin: 6px;
}

div.illustration{
}

div.separator{

}

span.fa{
    color: #5dadd3;
}

div.illustration span{
    font-size: 1.5em;
}


div.presentation{
    width: 90%;
}

h3.sectionMainRight{
    margin-bottom: 0px;
}

p.sectionMainRight{
    margin-top: 5px;
    font-size: 0.9em;
    text-align: justify;
}

/*-------------------- Footer--------------------*/

footer{
    position: relative;
}

/*--- Maps ---*/

div#mapContainer{
    width: 100%;
    height: 500px;
    border: 1px solid green;
}

div#formContainer{
  border-radius: 3px;
  position: absolute;
  padding: 10px 0 10px 0;
  top: 50px;
  right: 150px;
  width: 22%;
  height: 400px;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contactElt{
  margin: 0px 15px 0px 15px ;
}

div#formContainer h2{
  margin-bottom: 0px;
}

div.address{
  margin-top: 0px;
  margin-bottom: 0px;
  color: #6e7071;
  font-size: 0.8em;
}

h3.address{
  margin: 0px 0px 3px 0px;
  font-size: 1.1em;
}

form{
    display: flex;
    flex-direction: column;

}

.formElt{
  margin-top: 10px;
  margin-bottom: : 10px;
  padding: 5px 8px 5px 8px;
  border-radius: 4px;
  border: 1px solid #a9abab;

}

.formTextArea{

}

input#sendButton{
  width: 40%;
  background-color: #5dadd3;
  color: white;
  padding: 6px 4px 6px 4px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 3px #669db6;
  border: none;
  margin-top: 10px;
}

input#sendButton:active{

  background-color: white;
  color: #5dadd3;

}

/* TESTING */
div.container{
    width: 800px;
    border: px solid red;
}

div.testImg{
    width: 80%;
    border: 2px solid black;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

div.testImg img{
    padding: 0px;
    margin: 0px;
}

div.testForme{
    width: 50px;
    height: 100px;
    background-color: green;
    border: 1px solid blue;
    border-radius: 0 50px 50px 0;
}
