/*
Couleurs:
    Bleu claire : #5dadd3 ;
    Bleu foncé : #669db6 ;
    Gris texte : #6e7071 ;


*/


/*-------------------- PARAMETRES GENENERAUX--------------------*/

body{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    font-family: Arial;
    color: #6e7071;
}

h2, h3, h4{
    color: black;
}

div#pageWrapper{
    width: 80%;
}

/*-------------------- ANIMATION CSS DU CAROUSSEL--------------------*/

@keyframes carousselSlider {
    0% { left: 0%;}
    10% { left: 0%;}
    15% { left: -100%;}
    35% { left: -100%;}
    40% { left: -200%;}
    60% { left: -200%;}
    65% { left: -300%;}
    85% { left: -300%;}
    90% { left: -400%;}
    100% { left: -400%;}
}

@-webkit-keyframes carousselSlider {
    0% { left: 0%;}
    10% { left: 0%;}
    15% { left: -100%;}
    35% { left: -100%;}
    40% { left: -200%;}
    60% { left: -200%;}
    65% { left: -300%;}
    85% { left: -300%;}
    90% { left: -400%;}
    100% { left: -400%;}
}

@keyframes carousselPosition {
    0% { left: 0%;}
    10% { left: 0%;}
    15% { left: 20%;}
    35% { left: 20%;}
    40% { left: 40%;}
    60% { left: 40%;}
    65% { left: 60%;}
    85% { left: 60%;}
    90% { left: 80%;}
    100% { left: 80%;}
}

@-webkit-keyframes carousselPosition {
    0% { left: 0%;}
    10% { left: 0%;}
    15% { left: 20%;}
    35% { left: 20%;}
    40% { left: 40%;}
    60% { left: 40%;}
    65% { left: 60%;}
    85% { left: 60%;}
    90% { left: 80%;}
    100% { left: 80%;}
}

/*-------------------- HEADER--------------------*/
header{
    padding-top: 100px;
    width: 100%;
    background-color: #f2f2f2;
}

/*--- Navigation---*/
div.navigationBarContainer{
    position: fixed;
    top: 0px;
    opacity: 1;
    height: 100px;
    z-index: 9999;
    width: 80%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

div.logoContainer{
    margin-left: 15%;
}

nav{
    margin-right: 15%;
    margin-right: 15%;
    height: 100px;
    padding: 0px;
    display: flex;

}

nav a{
    display: block;
    height: 100px;
    line-height: 100px;
    padding: 0 10px 0 10px;
    text-decoration: none;
    color: #341c1d;
    font-family: sans-serif;

}

nav a:hover{
    border-top: 3px solid #80b7ce;
    color: #242424;
    line-height: 100px;
    height: 97px;
    line-height: 94px;
}

/*--- Carousel ---*/

div.carousselContainer{
    position: relative;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

div.carousselContainer figure{
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    height: auto;
    animation: 25s carousselSlider infinite;
    -webkit-animation: 25s carousselSlider infinite;
}

div.carousselContainer figure img{
    width: 20%;
    height: auto;
    float: left;
}

div.clear{
    clear: both;
}

div.carousselOverlayContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div.carousselButtonContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.carousselButtonContainer button{
    color: white;
    font-size: 1.3em;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    height: 50px;
    width: 25px;
    line-height: 50px;
    text-align: center;
}

div.carousselButtonContainer button:nth-child(1){
    color: white;
    border-radius:  0 50px 50px 0;
}

div.carousselButtonContainer button:nth-child(2){
    color: white;
    border-radius: 50px 0 0 50px;
}

div.carouselOverlay{
    margin-left: 15%;
}

h1{
    font-weight: 700;
}

h1 span.blue{
    color: #5aabd2;
}

div.carouselOverlay p{
    font-weight: 600;
}

div.carouselOverlay button{
  background-color: #5dadd3;
  color: white;
  padding: 6px 10px 6px 10px;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0px 3px #669db6;
  border: none;
  margin-top: 10px;
}

div.carouselOverlay button:active{
  background-color: white;
  color: #5dadd3;
}

div.carouselPosition{
    width: 100%;
    height: 5px;
    background: black;
    position: absolute;
    bottom: 0px;
    z-index: 15;
    opacity: 0.6;
}

div.carouselPositionFiller{
    height: 100%;
    background: #5dadd3;
    width: 20%;
    position: absolute;
    left: 0%;
    animation: carousselPosition 25s infinite;
    -webkit-animation: carousselPosition 25s infinite;
}



/*-------------------- Section I : Nos services--------------------*/

section.pageBlock{
    padding: 20px 0 20px 0;
}

section.nosServices{
}

/*--- Section I : Titre ---*/

div.sectionTitreContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.sectionTitreContainer h2{
    font-size: 2em;
    margin-top: 100px;
}

div.buttonSeparator{

}

div.sectionTitreContainer p{
    width: 50%;
    text-align: center;
}

/*--- Section I : Corps ---*/

div.sectionMainContainer{
    display: flex;
    height: 400px;
}

div.sectionMainLeft{     /* Partie gauche*/
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.sectionMainLeft img{
}

div.sectionMainRight{   /* Partie droite*/
    width: 50%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.sectionMainRightParagraph{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}

div.illustration, div.separator, div.presentation{
    margin: 6px;
}

div.illustration{
}

div.separator{

}

span.fa{
    color: #5dadd3;
}

div.illustration span{
    font-size: 1.5em;
}


div.presentation{
    width: 90%;
}

h3.sectionMainRight{
    margin-bottom: 0px;
}

p.sectionMainRight{
    margin-top: 5px;
    font-size: 0.9em;
    text-align: justify;
}

/*-------------------- Section II : Nos Projets--------------------*/

section.nosProjets{
    background-color: #f5f5f5;
}

/*--- Section II : Titre ---*/
    /* Paramètres identique à section I*/


section.nosProjets div.sectionTitreContainer{

}

/*--- Section II : Corps ---*/

    /*--- Menu Portfolio---*/

div.portfolioSelectorContainer{
    display: flex;
    justify-content: center;
}

div.portfolioMenuContainer{
    display: flex;
    justify-content: center;;
}

input.folioSelector{
    display: none;
}

div.portfolioMenuContainer label{
    display: inline-block;
    height: 35px;
    line-height: 35px;
    background: #e5e5e5;
    color: #6b6e72;
    width: 100px;
    text-align: center;
    position: relative;
}

div.portfolioMenuContainer label:hover{
    background: #5dadd3;
    color: white;
}

div.portfolioMenuContainer label:nth-child(2){
    border-radius: 3px 0 0 3px;
}

div.portfolioMenuContainer label:last-child{
    border-radius: 0 3px 3px 0;
}

div.portfolioMenuContainer label::after{
    font-family: FontAwesome;
    content: "\f0d7";
    color: #669db6;
    position: absolute;
    bottom: -22px;
    left: 46px;
    font-size: 1.5em;
    display: none;
}



input:checked + label{
    background: #5dadd3;
    color: white;
    box-sizing: border-box;
    border-bottom: 3px #669db6 solid;

}

input:checked + label::after{
    display: inline;
}





    /*--- Portfolio ---*/

div.portfolioContainer{
    display: flex;
    justify-content: center;
    margin: 30px 0 30px 0;
}

div.portfolioImgWrapper{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.portfolioImgContainer{
    width: 21%;
    margin: 2%;
    margin-bottom: 20px;
    margin-top: 20px;
}

div.portfolioImgContainer img{
    width: 100%;
    display: block;
}

div.portfolioImgContainer img:hover{
    opacity: 0.8;
}
/*-------------------- Footer--------------------*/

footer{
    position: relative;
    padding-top: 100px;
}

/*--- Maps ---*/

div#mapContainer{
    width: 100%;
    height: 500px;
    min-height: 500px;
    position: relative;
    z-index: -1;
}

/*--- Contact ---*/

div#overlayFormContainer{
    position: absolute;
    top: 100px;
    width: 100%;
    height: 500px;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items:center;
}

div#formContainer{
  border-radius: 3px;
  padding: 10px 0 10px 0;
  margin-right: 5%;
  width: 22%;
  min-width: 300px;
  height: 80%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 10;
}

.contactElt{
  margin: 0px 15px 0px 15px ;
}

div#formContainer h2{
    margin-bottom: 0px;
}

div.address{
  margin-top: 0px;
  margin-bottom: 0px;
  color: #6e7071;
  font-size: 0.8em;
}

h3.address{
  margin: 0px 0px 3px 0px;
  font-size: 1.1em;
}

form{
    display: flex;
    flex-direction: column;
}

.formElt{
  margin-top: 10px;
  margin-bottom: : 10px;
  padding: 5px 8px 5px 8px;
  border-radius: 4px;
  border: 1px solid #a9abab;

}

.formTextArea{

}

input#sendButton{
  width: 40%;
  background-color: #5dadd3;
  color: white;
  padding: 6px 4px 6px 4px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 3px #669db6;
  border: none;
  margin-top: 10px;
}

input#sendButton:active{

  background-color: white;
  color: #5dadd3;
}

/*--- Map Overlay ---*/

div#mapOverlay{
    position: absolute;
    top: 100px;
    width: 100%;
    height: 500px;
    background-color: #5dadd3;
    z-index: 0;
    opacity: 0.4;
}

div#footerFiller{
    height: 300px;
}
